.banner {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    position: relative; /* Ajout d'une position relative pour positionner la photo de profil */
}

.profile-card {
    /*height: 27vh;*/
    margin: 4rem 1rem 1rem;
}

.profile-info {
    gap: 10px;
    /*position: absolute;*/
    /*top: calc(17vh - 15px); !* Ajuster la valeur pour décaler la photo verticalement *!*/
    /*top: calc(17vh); !* Ajuster la valeur pour décaler la photo verticalement *!*/
    /*top: -10px;*/
    /*margin-left: 50px;*/
    /*transform: translateY(-50%);*/
    transform: translateY(-20%);
}

.profile-img-container {
    /*transform: translateY(-20%);*/
    margin-left: 50px;
    /*display: block;*/
    /*position: absolute; !* Positionnement absolu pour chevaucher la photo sur la bannière *!*/
    /*top: calc(19vh - 75px); !* Ajuster la valeur pour décaler la photo verticalement *!*/
    /*left: 10%;*/
    /*transform: translateX(-50%);*/
    /*border: 3px solid white; !* Bordure blanche *!*/
    /*border-radius: 50%; !* Assure une forme ronde *!*/
    /*overflow: hidden; !* Cache le dépassement de la bordure *!*/
    /*margin-right: 20px; !* Espace entre l'image et le texte *!*/
}

.profile-img {
    /*width: 150px;*/
    /*height: 150px;*/
    width: 15vw;
    height: 15vw;
    max-width: 125px;
    max-height: 125px;
    object-fit: cover;
    border-radius: 50%; /* Garder la forme ronde */
}

/*@media screen and (max-width: 767px) {*/
/*    .profile-img {*/
/*        width: 100px;*/
/*        height: 100px;*/
/*    }*/
/*}*/


.username {
    /*margin-left: 17%;*/
    margin-top: 10px;
}

.avatar-sm {
    width: 2.25rem;
    height: 2.25rem;
}

.badge-dot {
    color: black;
    background: 0 0;
    align-items: center;
    padding: 0;
    font-weight: 400;
    display: inline-flex;
    font-size: .85rem;
}

.badge-dot.badge-lg i {
    width: .625rem;
    height: .625rem;
}

.badge-dot i {
    vertical-align: middle;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
    margin-right: .5rem;
    display: inline-block;
}

.progress {
    --x-progress-height: .5rem;
    --x-progress-font-size: .85rem;
    --x-progress-bg: #e7eaf0;
    --x-progress-border-radius: 50rem;
    --x-progress-box-shadow: 0 0 0 0 transparent;
    --x-progress-bar-color: #fff;
    --x-progress-bar-bg: #5c60f5;
    --x-progress-bar-transition: width .6s ease;
    height: var(--x-progress-height);
    font-size: var(--x-progress-font-size);
    background-color: var(--x-progress-bg);
    border-radius: var(--x-progress-border-radius);
    box-shadow: var(--x-progress-box-shadow);
    display: flex;
    overflow: hidden;
}

tbody {
    font-size: .85rem;
    font-weight: 400;
}