:root {
    --dark-hover-brightness: 0.95;
    --light-hover-brightness: 1.1;
    --hover-brightness: var(--light-hover-brightness);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Light';
    src: url('/fonts/JetBrainsMono-Light.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono Light', monospace;
}

a {
    cursor: pointer;
}

.dynamic-hover:hover {
    filter: brightness(var(--hover-brightness));
}

.dark-hover:hover {
    filter: brightness(var(--dark-hover-brightness));
}

.light-hover:hover {
    filter: brightness(var(--light-hover-brightness));
}
