nav {
    box-shadow: rgba(0, 82, 224, 0.1) 0px 6px 12px 0px;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Light';
    src: url('fonts/JetBrainsMono-Light.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-brand {
   font-family: 'JetBrains Mono Bold', monospace;
}

.nav-link {
    font-family: 'JetBrains Mono Light', monospace;
}

body {
    font-family: 'JetBrains Mono Light', monospace;
}

a {
    cursor: pointer;
}
