asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
Django==4.2.7
django-cors-headers==4.3.1
gunicorn==21.2.0
idna==3.4
packaging==23.2
psycopg==3.1.12
psycopg-binary==3.1.12
PyJWT==2.8.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.7
