{% extends 'component.html' %}

{% block html %}
<div id="login"
     class="d-flex justify-content-center align-items-center rounded-3">
    <div class="login-card card m-3">
        <div class="card-body m-2">
            <h2 class="card-title text-center m-5">Reset password</h2>
            <form>
                <div class="d-flex justify-content-center mb-4">
                    <i class="fa fa-envelope fa-5x text-dark"></i>
                </div>
                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="email"
                           placeholder="Email">
                </div>
            </form>
            <div class="row d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Send code</button>
            </div>
<!--            <hr class="my-4">-->
        </div>
    </div>
</div>
{% endblock %}
