{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">42-Transcendence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Singleplayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Multiplayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Tournaments</a>
                </li>
            </ul>
            <div class="d-flex">
                <button id="switch-btn" class="btn btn-outline-dark"
                        onclick="switchMode()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor" class="bi bi-moon-fill"
                         viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                    </svg>
                </button>
                <form class="d-flex" role="search">
                    <input class="form-control ms-2 me-2" type="search"
                           placeholder="Search" aria-label="Search">
                </form>
                <div id="login-part" class="d-flex align-items-center">
                    <button class="btn btn-outline-success"
                            onclick="loadComponent('auth/signup/', 'content')">
                        SignUp
                    </button>
                    <button type="button" class="btn btn-primary ms-2"
                            onclick="loadComponent('auth/signin/', 'content')">
                        SignIn
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>