{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block css_style %}
<style>
    .fa-solid {
        font-size: 26px;
    }

    .fa-solid[data-count]:after {
        position: absolute;
        right: 0%;
        top: 1%;
        content: attr(data-count);
        font-size: 36%;
        padding: .6em;
        border-radius: 999px;
        line-height: .75em;
        color: white;
        background: rgba(255, 0, 0, .85);
        text-align: center;
        min-width: 2em;
        font-weight: bold;
    }

    .notification {
        padding: 10px;
    }

    .notification:hover {
        background-color: #505050;
    }

    .notification h4 {
        font-size: 15px;
    }

    .button-container {
        display: flex;
        justify-content: space-around;

    }

    .btn {
        width: 50%;
        margin-right: 10px;
    }

    .btn-accept {
        background-color: #28a745;
        color: white;
    }

    .btn-accept:hover {
        background-color: #28a745;
        opacity: 80%;
    }

    .btn-decline {
        background-color: #dc3545;
        color: white;
    }

    .btn-decline:hover {
        background-color: #dc3545;
        opacity: 80%;
    }

</style>

{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to Notify</h1>
</div>
{% endblock %}

{% block js_script %}
<script>
    // setup chat scoket
    const notifyScoket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notification/'
        + '?Authorization=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg1MDUyODksInVzZXJfaWQiOjEsInRva2VuX3R5cGUiOiJhY2Nlc3MifQ.UTLsTUj5PqLoVpE93CY0zy3KaeQqmlqYss3GNtYVKyg07sSnIOzS06ZSWrEHFBpDGmPye8LjDvcIlrpes0-0pDnIVkqNjwiSeyOCJmbZAT3FyqBSszsYet4LNhdav7FgunuMnYEaNUHF-7xlWfUKxlzkfMv_sO_xUNjY2utn-XrzMjWuJoA0s5gvD37RLe4bwJNmuXxrTXRpG80jLakIFY6R9ny1owQktZU6NNCwu5mALqyj6QWSzVTzanEwSgnE8fkWxdVsH1z4xj-y5aI6zhTR04b0FCpOhKkeMJs1DVkkK2drDO3cnxjVqRGmmvr9p3AioVsCfkXSYpqQYA459A'
    );

    // on socket open
    notifyScoket.onopen = function (e) {
        console.log('Socket successfully connected.');
    };

    // on socket close
    notifyScoket.onclose = function (e) {
        console.log('Socket closed unexpectedly');
    };

    // on receiving message on group
    notifyScoket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        data = JSON.parse(data.message)

        console.log('Notification received: ' + data.title)
        addNotification(data)
    };

    function addNotification(notification) {
        let notificationElement = document.createElement('li');
        let titleElement = document.createElement('h4');
        let buttonContainer = createButtons(notification);

        notificationElement.setAttribute('id', notification.id);
        notificationElement.className = 'notification';
        notificationElement.setAttribute('type', notification.type);
        titleElement.textContent = notification.title;

        notificationElement.appendChild(titleElement);
        notificationElement.appendChild(buttonContainer);

        let ulElement = document.getElementById('notify');
        ulElement.appendChild(notificationElement);

        let count = document.getElementById('bellCount').getAttribute('data-count');
        document.getElementById('bellCount').setAttribute('data-count', parseInt(count) + 1);
    }

    function createButtons(notification) {
        const buttonContainer = document.createElement('div');
        const acceptButton = document.createElement('button');
        const declineButton = document.createElement('button');

        buttonContainer.className = 'button-container';

        acceptButton.textContent = 'Accept';
        acceptButton.className = 'btn btn-accept btn-sm';
        declineButton.textContent = 'Decline';
        declineButton.className = 'btn btn-decline btn-sm';

        buttonAddListenerRouter(notification, acceptButton);
        buttonAddListenerRouter(notification, declineButton);
        buttonContainer.appendChild(acceptButton);
        buttonContainer.appendChild(declineButton);
        return buttonContainer;
    }

    function buttonAddListenerRouter(notification, button) {
        if (notification.type === 'friend_request') {
            if (button.textContent === 'Accept')
                acceptFriendRequestListener(notification, button);
            else if (button.textContent === 'Decline')
                declineFriendRequestListener(notification, button);
        }
        else if (notification.type === 'tournament_start') {
            if (button.textContent === 'Accept')
                acceptTournamentRequestListener(notification, button);
            else if (button.textContent === 'Decline')
                declineTournamentRequestListener(notification, button);
        }
    }

    function acceptFriendRequestListener(notification, button) {
        button.addEventListener('click', (e) => {
            fetch('http://localhost:8001/user/friends/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg1MDUyODksInVzZXJfaWQiOjEsInRva2VuX3R5cGUiOiJhY2Nlc3MifQ.UTLsTUj5PqLoVpE93CY0zy3KaeQqmlqYss3GNtYVKyg07sSnIOzS06ZSWrEHFBpDGmPye8LjDvcIlrpes0-0pDnIVkqNjwiSeyOCJmbZAT3FyqBSszsYet4LNhdav7FgunuMnYEaNUHF-7xlWfUKxlzkfMv_sO_xUNjY2utn-XrzMjWuJoA0s5gvD37RLe4bwJNmuXxrTXRpG80jLakIFY6R9ny1owQktZU6NNCwu5mALqyj6QWSzVTzanEwSgnE8fkWxdVsH1z4xj-y5aI6zhTR04b0FCpOhKkeMJs1DVkkK2drDO3cnxjVqRGmmvr9p3AioVsCfkXSYpqQYA459A'
                },
                body: JSON.stringify({friend_id: notification.data})
            }).then(response => {
                if (!response.ok) {
                    response.json().then(text => console.error(text['errors']));
                    return;
                }
                return response.json();
            }).then(response => {
                console.log(response)
                deleteNotification(notification.id);
            });
        });
    }

    function declineFriendRequestListener(notification, button) {
        button.addEventListener('click', (e) => {
            fetch('http://localhost:8001/user/friends/', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg1MDUyODksInVzZXJfaWQiOjEsInRva2VuX3R5cGUiOiJhY2Nlc3MifQ.UTLsTUj5PqLoVpE93CY0zy3KaeQqmlqYss3GNtYVKyg07sSnIOzS06ZSWrEHFBpDGmPye8LjDvcIlrpes0-0pDnIVkqNjwiSeyOCJmbZAT3FyqBSszsYet4LNhdav7FgunuMnYEaNUHF-7xlWfUKxlzkfMv_sO_xUNjY2utn-XrzMjWuJoA0s5gvD37RLe4bwJNmuXxrTXRpG80jLakIFY6R9ny1owQktZU6NNCwu5mALqyj6QWSzVTzanEwSgnE8fkWxdVsH1z4xj-y5aI6zhTR04b0FCpOhKkeMJs1DVkkK2drDO3cnxjVqRGmmvr9p3AioVsCfkXSYpqQYA459A'
                },
                body: JSON.stringify({friend_id: notification.data})
            }).then(response => {
                if (!response.ok) {
                    response.json().then(text => console.error(text['errors']));
                    return;
                }
                return response.json();
            }).then(response => {
                console.log(response)
                deleteNotification(notification.id);
            });
        });
    }

    function acceptTournamentRequestListener(notification, button) {
        button.addEventListener('click', (e) => {
            window.location.href = 'http://localhost:8001/tournament/' + notification.data + '/';
            deleteNotification(notification.id);
        });
    }

    function declineTournamentRequestListener(notification, button) {
        button.addEventListener('click', (e) => {
            deleteNotification(notification.id);
        });
    }

    function deleteNotification(notification_id) {
        fetch('http://localhost:8000/notification/user/' + notification_id + '/', {
            method: 'DELETE',
            headers: {
                //TODO: Get access token from local storage
                'Authorization': '',
            }
        }).then(response => {
            if (!response.ok) {
                response.json().then(text => console.error(text['errors']));
            }
            else {
                const notif = document.getElementById(notification_id)
                notif.remove();
                let count = document.getElementById('bellCount').getAttribute('data-count');
                document.getElementById('bellCount').setAttribute('data-count', parseInt(count) - 1);
            }
        })
    }

</script>
{% endblock %}